In [ ]:
# This project is an attempt to convert a text query into an SQL query and finally retrieve information from a database.

In [1]:
python -m venv /path/to/new/virtual/environment

SyntaxError: invalid syntax (94961532.py, line 1)

In [2]:
import sys
print(sys.version)

3.11.4 (main, Jul  5 2023, 08:54:11) [Clang 14.0.6 ]